Dockerfile

/_build
/db
/deps
/*.ez

erl_crash.dump

/priv/static
/priv/repo/data

*.iml
/.idea
*.swp

/front/node_modules
/front/bower_components
/front/.pulp-cache/
/front/output/
/front/.psc-package
